@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-primary {
  @apply text-purple-500;
}

.text-primary-dark {
  @apply text-purple-800;
}

.btn-primary {
  @apply bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out cursor-pointer;
}

.btn-secondary {
  @apply bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out cursor-pointer;
}
